/* FormPage.css */

/* Add margin-bottom to label for spacing */
.label-phoneNumber {
  margin-bottom: 10px; /* Adjust the value as needed */
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-field {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  
}

label {
  margin-bottom: 5px;
}

input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
}

form-buttons {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  margin-top: 20px;
}

/* Add margin-right to the first button for spacing */
.button:first-child {
  margin-right: 20px; /* Adjust this value for the desired gap */
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
}
